<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Disease Prediction</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Rose:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
        integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body style="background-image: none;">
    <header>
        <nav>
            <div class="container">
                <div class="row navbarHolder">
                    <div class="col-lg-5 col-10 logo">
                        <div class="iconHolder">
                            <span class="icon"></span>
                            <span class="icon"></span>
                        </div>
                        <h6>Kananapps</h6>
                    </div>
                    <div class="col-lg-5 navigation">
                        <ul>
                            <li><a href="/about">About the project</a></li>
                            <li><a href="/about#contact">Contact</a></li>
                            <li class="predict"><a href="/">Predict</a></li>
                        </ul>
                    </div>
                    <div class='burgerButtonHolder'>
                        <div class='burgerButton'></div>
                    </div>
                </div>

                <div class="row mobileNavHolder">
                    <div class="col-12 mobileNavigation">
                        <ul>
                            <li class="active"><a href="/about">About the project</a></li>
                            <li><a href="/about#contact">Contact</a></li>
                            <li class="predict"><a href="/">Predict</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section id="aboutHeader">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text">
                        <h2>TOMATO DISEASE PREDICTION</h2>
                        <p>Aim of this project is to help people to grow healthy tomatoes at their garden. Deep learning
                            model has been trained to identify 9 different diseases and healthy tomatoes.</p>
                        <a href="#about">More</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="../static/images/tomato.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>About the project</h1>
                        <p>
                            To train our model tomato leaf data has been used from Kaggle. All the images are resized to 64x64 
                            for training and data augmentation techniques have been used to have robust estimates, like horizontal
                            and vertical flipping, zooming, changing brightness.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="row" style="justify-content: center;">
                    <div class="col-lg-8 headerPart">
                        <h1>Contact me</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius enim consequat tincidunt
                            massa ultricies laoreet. Sapien, enim viverra
                        </p>
                    </div>
                </div>

                <div class="row contactRow">
                    <div class="col-lg-4 singleItem">
                        <img src="../static/images/location.svg" alt="">
                        <a>2464 Royal Ln. Mesa</a>
                    </div>
                    <div class="col-lg-4 singleItem">
                        <img src="../static/images/phone.svg" alt="">
                        <a href="tel:+9949876532">+994 987 65 32</a>
                    </div>
                    <div class="col-lg-4 singleItem">
                        <img src="../static/images/mail.svg" alt="">
                        <a href="mailto:kananmahammadli@gmail.com">kananmahammadli@gmail.com</a>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row footerRow">
                    <div class="col-md-6 footerItem">
                        <p class="copyright">All rights reserved</p>
                    </div>
                    <div class="col-md-6 footerItem">
                        <ul>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com">
                                    <img src="../static/images/linkedin.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="">
                                    <img src="../static/images/github.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="">
                                    <img src="../static/images/medium.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://kit.fontawesome.com/5745faddfa.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"
        integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(".burgerButtonHolder").click(() => {
            console.log("salam")
            $(".burgerButtonHolder").toggleClass("openedNav")
            $(".mobileNavigation").slideToggle()
        })
    </script>
</body>

</html>