<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Disease Prediction</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Rose:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
        integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <div class="row navbarHolder">
                    <div class="col-lg-5 col-10 logo">
                        <div class="iconHolder">
                            <span class="icon"></span>
                            <span class="icon"></span>
                        </div>
                        <h6>Kananapps</h6>
                    </div>
                    <div class="col-lg-5 navigation">
                        <ul>
                            <li><a href="/about">About the project</a></li>
                            <li><a href="/about#contact">Contact</a></li>
                            <li class="predict"><a href="/">Predict</a></li>
                        </ul>
                    </div>
                    <div class='burgerButtonHolder'>
                        <div class='burgerButton'></div>
                    </div>
                </div>

                <div class="row mobileNavHolder">
                    <div class="col-12 mobileNavigation">
                        <ul>
                            <li><a href="/about">About the project</a></li>
                            <li><a href="/about#contact">Contact</a></li>
                            <li class="predict active"><a href="/">Predict</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section id="uploadImage">
            <div class="container">
                <div class="row textHolder">
                    <div class="col-lg-6 text">
                        <h4>
                            Tomato Disease Classification
                        </h4>
                        <p>
                            Please upload the image with given format: width*height*3
                        </p>
                    </div>

                    <div class="col-lg-7">
                        <div id="drop-area">
                            <form id="customForm" method="post" enctype="multipart/form-data">
                                <div class="imageHolder">
                                    <img class="imageHolder" src="../static/images/drag_drop.svg" />
                                </div>
                                <div class="texts">
                                    <p>Drag & Drop</p>
                                    <p>You can upload png, jpg, jpeg, webp or bmp images</p>
                                </div>
                                <div class="col-lg-6 col-sm-8 col-11">
                                    <div class="loadingArea">
                                        <div class="imageName">
                                            <p class="name"></p>
                                            <span class="cancelUpload">x</span>
                                        </div>
                                        <div class="loadingBar">
                                            <div class="loadingStatus"></div>
                                        </div>
                                        <div class="imageSize">
                                            <span class="size"></span>
                                            <span class="percent"></span>
                                        </div>
                                    </div>

                                    <div class="resultArea">

                                        <ul>
                                            <li>
                                                <p>Result:</p>
                                                <span id="result"></span>
                                            </li>
                                            <li>
                                                <p>Condidence score:</p>
                                                <span id="confidenceScore"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <input type="file" name="file" id="fileElement" accept=".png, .jpg, .jpeg, .webp, .bmp">
                                <p class="button uploadImage" for="fileElem">Upload image</p>
                                <p class="button predict loadingStateForButton" id="submitForm"
                                    for="fileElement">Predict</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row footerRow">
                    <div class="col-md-6 footerItem">
                        <p class="copyright">All rights reserved</p>
                    </div>
                    <div class="col-md-6 footerItem">
                        <ul>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com">
                                    <img src="../static/images/linkedin.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="">
                                    <img src="../static/images/github.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="">
                                    <img src="../static/images/medium.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"
        integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/script.js"></script>
</body>

</html>